@model IEnumerable<PolyclinicCourseProject.Models.DoctorDAO>
<select id="doctor" name="Doctor">
    @foreach (var item in Model)
    {
        <option value="@item.Doctor_id">@item.Surname</option>
    }
</select>
